@import '../../Sass/Colors.scss';

#home-section{
    clip-path: polygon(23% 0, 0% 50%, 20% 100%, 32% 100%, 11% 50%, 36% 0, 59% 0, 39% 100%, 51% 100%, 70% 0, 76% 0, 89% 49%, 62% 100%, 75% 100%, 100% 50%, 87% 0);

    // clip-path: polygon(0 0, 55% 0, 100% 100%, 37% 100%);
    background-size: cover;
    height: 70vh;
   max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../Assets/home-page-photo.jpg');
    background-repeat: no-repeat;
    opacity: .2;
    position: relative;
    margin: 7rem 3rem 3rem;

}
.text-container{
    position: absolute;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    top: 28%;
    width: 100%;
    height: 20rem;

    .welcome-text{
        font-size: 40pt;
    }

    .home-buttons{
        height: 3rem;
        width: 9rem;
        background-color: $Color-Secondary;
        border-radius: 1.75rem;
        color: $Color-Primary-Light;
        &:hover{
            cursor: pointer;
            background-color: $Color-Primary-Dark;
            border-color: $Color-Secondary;
            color: $Color-Secondary-Light;
        }
        
    }
    #view-projects{
        margin-right: 1rem;
        font-weight: bolder;
        font-size: medium;
    }
    #contact-me{
        margin-left: 1rem;
        font-size: medium;
        font-weight: bolder;
    }
}