@import '../../Sass/Colors.scss';

.resume-card{
    height: 15rem;
    width: 20rem;
    gap: 1rem;

    .title{
        color: $Color-Secondary;
        font-size: 20pt;
        font-weight: bold;
        
    }
    .company{
        font-size: 11pt;
        color: $Color-Primary-Light;
        margin-bottom: .5rem;
        font-style: italic;

        
    }
    .date-range{
        padding: .25rem;
        max-width: 8rem;
        background-color: $Color-Secondary-Light;
        color: $Color-Primary-Light;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 10pt;
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .body{
        max-width: 20rem
    }
}