@import '../../Sass/Colors.scss';

.about-section{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 0 3rem 3rem;

    .header{
        font-size: 40pt;
    }

    .feature-container{
        max-width: 100%;
        margin: 0 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;

        #about-image{
            height: 29rem;
            width: 50rem;
        }

        .details-container{
            max-width: 45rem;
            display: flex;
            flex-direction: column;

            .title{
                font-size: xx-large;
                font-weight: bold;
                color: $Color-Secondary-Light;
            }

            .role{
                font-size: x-large;
                margin-bottom: 2rem
            }

            .body{
                font-size: large;
                margin-bottom: 2rem;
            }

            button{
                height: 3rem;
                background-color: $Color-Secondary;
                width: 9rem;
                color: $Color-Primary-Light;
                border-radius: 1.75rem;
                margin-right: 1rem;
                font-weight: bolder;
                font-size: medium;
                &:hover{
                    cursor: pointer;
                    background-color: $Color-Primary-Dark;
                    border-color: $Color-Secondary;
                    color: $Color-Secondary-Light;
                }
            }
        }
    }
}